

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>

    <link rel="website icon" type="png"  href="static/11zon_cropped.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="منصة ذكية لاكتشاف ما إذا كان الشخص يرتدي كمامة أم لا باستخدام تقنيات الذكاء الاصطناعي (سنن) ، مع دقة عالية وتجربة استخدام سهلة وسريعة.">
    <meta name="keywords" content="كمامة, كشف الكمامة, ذكاء اصطناعي, رؤية حاسوبية">
    <meta name="Karam" content="K_MASK">
    <meta name="description" content="An intelligent platform that detects whether a person is wearing a face mask or not using AI technology (cnn), offering high accuracy and a seamless user experience.">
    <meta name="keywords" content="face mask detection, AI, computer vision, mask recognition">
    <meta name="Karam" content="K_MASK">
  <title>K_MASK</title>
 
</head>
<body>

   <h1>K_MASK</h1>
   
  <h2 id="b22">
  It is a program that determines whether
  a Person is wearing a mask or not using Computer
  vision (CNN). Upload your Image and the form
  will generalize.
  </h2>

  <div id="lang">
   <form>
   
   <input type="submit" id="bb3" value="EN" >
   </form> 
  </div>

  <div class="container">

    <h2>✨ Place your photo here </h2>

    <label class="upload-box" for="imageInput">
     📷 Click here to choose an image 
    </label>
    <input type="file" id="imageInput" accept="image/*" hidden>

    <img id="imagePreview">

    <button onclick="resetImage()">Delete</button>
  </div>

  <h2 id="result" style="text-align:center;color:#0078ff;"></h2>
  <button id="chik"  onclick="checkMask()" style="position: absolute; top: 360px; right: 200px;  " >Check Mask</button>

 
  <div id="imgg">
  <img src="static/people.png" alt="none" id="fin" >
  </div>

  <hr id="hr1" >
  <h2 id="resultText"></h2>


 <script>
  let langBtn = document.getElementById("bb3");
let title = document.querySelector("h1");
let desc = document.getElementById("b22");
let placeTitle = document.querySelector(".container h2");
let deleteBtn = document.querySelector("button[onclick='resetImage()']");
let uploadLabel = document.querySelector(".upload-box");
let chik = document.getElementById("chik");

let isEnglish = true;

langBtn.addEventListener("click", function(e) {
    e.preventDefault();

    document.body.style.transition = ".4s";
    document.body.style.opacity = "0";

    setTimeout(() => {
        if (isEnglish) {
            document.body.style.direction = "rtl";
            title.textContent = "كِمَامَة_الكشف";
            desc.innerHTML =
                "هو برنامج يحدد ما إذا كان الشخص يرتدي كمامة أم لا " +
                "باستخدام الرؤية الحاسوبية (CNN). قم برفع صورتك " +
                "وسيتم التعرف عليها.";
            placeTitle.textContent = "✨ ضع صورتك هنا";
            uploadLabel.textContent = "📷 اضغط هنا لاختيار صورة";
            deleteBtn.textContent = "حذف";
            chik.textContent = "تحقق من القناع";
            langBtn.value = "AR";

            isEnglish = false;
        } else {
            document.body.style.direction = "ltr";
            title.textContent = "K_MASK";
            desc.innerHTML =
                "It is a program that determines whether " +
                "a Person is wearing a mask or not using Computer " +
                "vision (CNN). Upload your Image and the form " +
                "will generalize.";
            placeTitle.textContent = "Place your photo here ✨";
            uploadLabel.textContent = "📷 Click here to choose an image";
            deleteBtn.textContent = "Delete";
            chik.textContent = "Check Mask";
            langBtn.value = "EN";

            isEnglish = true;
        }
        document.body.style.opacity = "1";
    }, 300);
});

</script>



 <script>
let resultBox = document.getElementById("fin");
let resultText = document.getElementById("resultText");

document.getElementById("imageInput").addEventListener("change", async function(){

    const file = this.files[0];
    if(!file) return;

    // عرض الصورة للمستخدم
    const reader = new FileReader();
    reader.onload = ()=> resultBox.src = reader.result;
    reader.readAsDataURL(file);

    let formData = new FormData();
    formData.append("image", file);

    let res = await fetch("/predict", {
        method: "POST",
        body: formData
    });

    let data = await res.json();
    console.log("Response From Server:", data);

    if(data.result === "with_mask"){
    resultText.innerHTML = "The person is wearing a mask ✔";
    resultText.style.color = "green";
    resultText.style.position ="absolute";
    resultText.style.top = "290px";
    resultText.style.left = "100px";
    resultText.style.backgroundColor="white";
    resultText.style.borderWidth = "3px";
    resultText.style.borderStyle = "solid";
    resultText.style.borderColor = "white"; 
    resultText.style.borderRadius = "20px";
 }
    else if(data.result === "without_mask"){
    resultText.innerHTML = "The person is not wearing a mask ❌";
    resultText.style.color = "red";
    resultText.style.position ="absolute";
    resultText.style.top = "290px";
    resultText.style.left = "100px";
    resultText.style.backgroundColor="white";
    resultText.style.borderWidth = "3px";
    resultText.style.borderStyle = "solid";
    resultText.style.borderColor = "white"; 
    resultText.style.borderRadius = "20px";

}

});

   
    </script>

</body>
</html>
